.a-button {
  padding: 12px 24px;
  background-color: var(--color-green-light);
  border: none;
  color: var(--color-white);
  border-radius: 32px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;

  &:hover {
    background-color: var(--color-green-middle);
  }
  &:active {
    background-color: var(--color-green-dark);
  }
  &.disabled {
    background-color: var(--color-gray);
    cursor: default;
  }

  &.circle {
    padding: 20px;
    border-radius: 50%;
    gap: 0;
  }
}