.a-input {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__label {
    margin-left: 24px;
  }

  &__input {
    all: unset;
    font-size: 18px;
    padding: 22px 28px;
    border: 2px solid var(--color-white);
    background-color: var(--color-white);
    color: var(--color-dark);
    border-radius: 36px;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.3s;

    &:hover {
      border: 2px solid var(--color-green-light);
    }
  }

  &__onoff {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;

    img {
      padding: 28px;
      cursor: pointer;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin: 0 24px;
  }
}