.s-notes {
  padding: 136px 0 40px;
  &__content {
    display: grid;
    align-items: start;
    grid-template-columns: 1fr;
    gap: 20px;

    @media (min-width: 1000px) {
      gap: 40px;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__add {
    position: fixed;
    right: 8px;
    bottom: 40px;

    @media (min-width: 1000px) {
      right: 40px;
    }
  }
}