.s-header {
  height: 136px;
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
  width: 100%;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__user-info {
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__user {
    cursor: pointer;
  }

  &__exit {
    position: absolute;
    z-index: 10000;
    right: 0;
    top: 75px;
    padding: 40px;
    background-color: var(--color-dark-middle);
    border-radius: 12px;
    box-shadow: 0 15px 46px -10px #00000099;

    img {
      position: absolute;
      right: 20px;
      top: -9px;
    }
  }
}