*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: 500;
}

body {
  min-height: 100vh;
  color: var(--color-white);
  background: var(--color-dark);
  transition: 0.3 all;
  line-height: 32px;
  font-family:
    'Montserrat',
    sans-serif;
  font-size: 20px;
}
