@import './base.scss';
@import './colors.scss';
@import './fonts.scss';

#app {
  max-width: 1600px;
  margin: 0 auto;
}

.container {
  margin: 0 20px;
  @media (min-width: 768px) {
    margin: 0 40px;
  }
  @media (min-width: 1366px) {
    margin: 0 80px;
  }
  @media (min-width: 1920px) {
    margin: 0 160px;
  }
}
